@import "tailwindcss";

:root {
  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-tertiary: #f96d00;
  --color-white: #ffffff;
  --color-gray-text: #9f9f9f;
  --color-gray-hover: #676767;
}

* {
  font-family: "Google Sans Code", monospace;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-white);
  margin: 0;
  padding: 0;
}
